# Platform Configuration
PLATFORM=android
PLATFORM_VERSION=13.0
DEVICE_NAME=Pixel_7_API_33

# iOS Configuration
IOS_PLATFORM_VERSION=16.0
IOS_DEVICE_NAME=iPhone 14

# App Configuration
ANDROID_APP_PATH=./apps/android/app-debug.apk
IOS_APP_PATH=./apps/ios/app.app

# Appium Server
APPIUM_SERVER_URL=http://127.0.0.1:4723

# API Configuration
API_BASE_URL=https://jsonplaceholder.typicode.com

# Test Configuration
IMPLICIT_WAIT=10
EXPLICIT_WAIT=20
